* { margin: 0px;
    padding: 0px;
}

.container-line {
   display: flex;
   margin: 0 auto;
   width: 100%;
}

.border-top {
    border-top: 1px solid black;
    border-right: 1px solid black;
    
}

.text-profile {

}

.name {
    
    font-size: 44px;  
}

.border-bottom {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}


