 *{
    margin: 0px;
    padding: 0px;
}

.img {
    padding: 16px;
}

.container-main {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.text-profile {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.name {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #414141;
    font-family: 'Montserrat', sans-serif;
}

.hello {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #919191;
    font-family: 'Montserrat', sans-serif;

}

.text {
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    color: #6A6A6A;
    font-family: 'Montserrat', sans-serif;

}

.about {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-main {
    margin-bottom: 60px;
}

.top {
    background: #bcbcbc none repeat scroll 0 0;
    height: 2px;
    margin: 0 auto;
    width: 44px;
    margin-bottom: 3px;
}

.bottom {
    background: #bcbcbc none repeat scroll 0 0;
    height: 2px;
    margin: 0 auto;
    width: 77px;
    margin-bottom: 3px;
}

.welcome {
    font-size: 22px;
    margin-bottom: 15px;
    color: #4f4f4f;
    font-weight: bold;
    margin-bottom: 30px;
    height: 100%;
}
.graphic-skill {
    padding: 16px 15px;
}

.about-content {
    margin-bottom: 15%;
}
.text-about {
    padding: 16px 15px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    color: #6A6A6A;
    font-family: 'Montserrat', sans-serif;
}

.tcs {
    color: #414141;
}

.tcs-name {
    color: #494949;
    text-align: center;
}

.experience {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 60px;
    display: flex;
}

.experience1 {
    display: flex;
}

.border-x {
    display: flex;
    flex-direction: column;
}

.border-dotted {
    height: 10%;
    width: 2px;
    border-left: 1 px dotted grey;
}

.footer {
    text-align: center;
    background-color: #494949;
    color: #ffffff;
    padding: 40px 0px;
} */

/* Mobile version



